@media only screen and (max-width: 768px) {
  #nav {
    padding: 0 3%; /* Adjust padding */
  }
  
  #nav h4 {
    font-size: 2vw; /* Further adjust font size */
  }
}




/* General responsive styles */
@media (max-width: 768px) {

 

  #page1 h1 {
    font-size: 8vw;
  }

  #page1 p {
    font-size: 4vw;
    width: 80%;
  }

  #page1 #arrow {
    height: 150px;
    width: 150px;
  }

  #scroller h4 {
    font-size: 10vw;
  }

  #about-us {
    flex-direction: column;
    height: auto;
    padding: 50px 20px;
  }

  #about-us img {
    height: 150px;
    width: 150px;
  }

  #about-us-in {
    width: 100%;
  }

  #about-us-in h3 {
    font-size: 6vw;
  }

  #about-us-in p {
    font-size: 4vw;
  }

  #cards-container {
    flex-wrap: wrap;
    height: auto;
    padding: 50px 20px;
    gap: 30px;
  }

  .card {
    width: 100%;
  }

  #green-div {
    height: auto;
    flex-direction: column;
    padding: 50px 20px;
    text-align: center;
  }

  #green-div h4 {
    width: 100%;
    font-size: 4vw;
    line-height: 1.4;
    margin-bottom: 20px;
  }

  #green-div img {
    width: 50%;
  }

  #page3 > p {
    font-size: 4vw;
    width: 80%;
  }

  #page3 img {
    height: 40px;
  }

  #page4 {
    height: auto;
    padding: 50px 20px;
    flex-wrap: wrap;
    gap: 30px;
  }

  .elem {
    width: 100%;
  }

  .elem h2 {
    font-size: 6vw;
  }

  #page4 h1 {
    font-size: 10vw;
    top: -5%;
  }

   /* #footer {
    height: auto;
    flex-wrap: wrap;
    padding: 50px 20px;
    gap: 30px;
    justify-content: center;
  }

  #f2 h3, #f3 h3 {
    font-size: 4vw;
  }

  #f4 h4 {
    font-size: 3vw;
  } */
} 