* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat";
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
}
*::selection {
  background-color: #fff;
  color: #f75129;
}

body::-webkit-scrollbar {
  display: none;
  
}

body {
  overflow-x: hidden;
}

#nav {
  height: 130px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  padding:0 120px;
  gap: 50px;
  position: fixed;
  justify-content: flex-start;
  z-index: 99;
}
#nav img {
  height: 4.5vw;
}
#nav h4 {
  text-transform: uppercase; 
  font-weight: 500;
  cursor: pointer;
  font-size: 1.15vw; 
}
video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  position: fixed;
}

#main {
  position: relative;
  /* background-color: ; */
}

#page1 {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 10;
}
#page1 h1 {
  font-size: 7.5vw;
  font-weight: 900;
  position: relative;
}
#page1 h1::before {
  content: "COSPACE SUCCESS";
  position: absolute;
  color: #000;
  top: -5px;
  left: -5px;
  -webkit-text-stroke: 1.5px #f75129;
  z-index: -1;
}
#page1 h2 {
  font-size: 30px;
  font-weight: 800;
  margin-top: 10px;
  margin-bottom: 20px;
}
#page1 p {
  font-size: 1.2vw;
  font-weight: 500;
  width: 40%;
}
#page1 #arrow {
  height: 250px;
  width: 250px;
  background-color: transparent;
  border: 2px solid #f75129;
  position: absolute;
  display: flex;
  left: -2%;
  bottom: 0%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all ease 0.5s;
}
#page1 #arrow i {
  font-size: 50px;
  font-weight: 100;
}
#page1 #arrow:hover {
  scale: 0.4;
  background-color: #f75129;
}
#page2 {
  min-height: 100vh;
  width: 100%;
  z-index: 10;
  background-color: #000;
}
.text{
  position:relative;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}


#scroller {
  /* background-color: red; */
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  z-index: 10;
}
#scroller::-webkit-scrollbar {
  display: none;
}
#scroller-in {
  display: inline-block;
  white-space: nowrap;
  animation-name: scroll;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#scroller h4 {
  display: inline-block;
  font-size: 120px;
  font-weight: 900;
  font-family: gilroy;
  margin-right: 20px;
  transition: all linear 0.3s;
  color: #000;
  -webkit-text-stroke: 2px #ffffff;
}
#scroller h4:hover {
  color: #f75129;
  -webkit-text-stroke: 2px #f75129;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

#about-us {
  height: 40vh;
  width: 100%;
  /* background-color: red; */
  display: flex;
  padding: 0 50px;
  align-items: center;
  position: relative;
  z-index: 10;
  justify-content: space-around;
}
#about-us img {
  height: 220px;
  width: 220px;
  border-radius: 20px;
  object-fit: cover;
}
#about-us-in {
  width: 50%;
  text-align: center;
}
#about-us-in h3 {
  font-size: 54px;
  font-weight: 800;
  margin-bottom: 30px;
}
#about-us-in p {
  font-size: 20px;
  line-height: 26px;
}

#cards-container {
  /* background-color: red; */
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  position: relative;
  z-index: 10;
}
.card {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1rem;
  width: 14rem;
  height: auto;
  background-color: #f75129;
  background-image: radial-gradient(
      circle at 0% 0%,
      rgb(37, 7, 44) 15%,
      rgba(0, 0, 0, 0) 75%
    ),
    radial-gradient(
      circle at 100% 100%,
      rgb(25, 2, 31, 0.9) 15%,
      rgba(0, 0, 0, 0) 150%
    ),
    linear-gradient(
      135deg,
      rgba(24, 8, 28, 0) 0%,
      rgb(65, 48, 143) 50%,
      rgba(24, 8, 28, 0) 100%
    );
  border-radius: 0.5rem;
}

.card::before {
  content: "";
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  background-color:#f75129;
  background-image: linear-gradient(
    0deg,
    rgb(203, 79, 34) 0%,
    rgb(178, 110, 46) 75%
  );
  border-radius: 9999px;
  box-shadow: 0 1px 5px 3px rgb(199, 95, 228), 0 0 30px 5px rgb(199, 95, 228);
}

.card .title {
  font-size: 1rem;
  color: white;
  font-weight: 600;
}

.card .pricing {
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
}

.card .pricing .pricing-time,
.card .sub-title {
  font-size: 0.75rem;
  color:#fff;
  font-weight: 500;
}

.card .list {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 0.75rem;
  color: white;
  font-weight: 500;
  list-style: none;
}

.card .list .list-item .check {
  margin-right: 0.25rem;
  font-size: 1rem;
  color: #f75129;
  font-weight: 900;
}

.card .button {
  overflow: hidden;
  cursor: pointer;
  position: relative;
  margin-top: 0.5rem;
  padding: 0.5rem 0.75rem;
  width: 100%;
  height: fit-content;
  background: hsla(12, 93%, 56%, 1);

background: linear-gradient(135deg, hsla(12, 93%, 56%, 1) 15%, hsla(228, 53%, 21%, 1) 100%);

background: -moz-linear-gradient(135deg, hsla(12, 93%, 56%, 1) 15%, hsla(228, 53%, 21%, 1) 100%);

background: -webkit-linear-gradient(135deg, hsla(12, 93%, 56%, 1) 15%, hsla(228, 53%, 21%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F75129", endColorstr="#192452", GradientType=1 );
  font-size: 0.75rem;
  color: white;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 2px 1px rgb(122, 48, 143);
  transition: all 0.3s cubic-bezier(1, 0, 0, 1);
}

.card .button .text-button {
  position: relative;
  z-index: 10;
}

.card .button::before,
.card .button::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
.card .button::before {
  left: 0;
  background: hsla(12, 93%, 56%, 1);

  background: linear-gradient(135deg, hsla(12, 93%, 56%, 1) 15%, hsla(228, 53%, 21%, 1) 100%);
  
  background: -moz-linear-gradient(135deg, hsla(12, 93%, 56%, 1) 15%, hsla(228, 53%, 21%, 1) 100%);
  
  background: -webkit-linear-gradient(135deg, hsla(12, 93%, 56%, 1) 15%, hsla(228, 53%, 21%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F75129", endColorstr="#192452", GradientType=1 );
}
.card .button::after {
  right: 0;
  background: hsla(12, 93%, 56%, 1);

background: linear-gradient(135deg, hsla(12, 93%, 56%, 1) 15%, hsla(228, 53%, 21%, 1) 100%);

background: -moz-linear-gradient(135deg, hsla(12, 93%, 56%, 1) 15%, hsla(228, 53%, 21%, 1) 100%);

background: -webkit-linear-gradient(135deg, hsla(12, 93%, 56%, 1) 15%, hsla(228, 53%, 21%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F75129", endColorstr="#192452", GradientType=1 );
}

.card .button:hover {
  box-shadow: 0px 0px 20px 0 #f75129
}

.card .button:hover::before,
.card .button:hover::after {
  width: 0;
  opacity: 0;
}


#green-div {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
  background: hsla(12, 93%, 56%, 1);

background: linear-gradient(135deg, hsla(12, 93%, 56%, 1) 15%, hsla(228, 53%, 21%, 1) 100%);

background: -moz-linear-gradient(135deg, hsla(12, 93%, 56%, 1) 15%, hsla(228, 53%, 21%, 1) 100%);

background: -webkit-linear-gradient(135deg, hsla(12, 93%, 56%, 1) 15%, hsla(228, 53%, 21%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F75129", endColorstr="#192452", GradientType=1 );
}
#green-div h4 {
  width: 45%;
  line-height: 50px;
  color: #000;
  text-align: center;
  font-weight: 800;
  font-size: 27px;
  text-transform: uppercase;
}
#green-div img {
  height: 100%;
  object-fit: cover;
  width: 14%;
}

#page3 {
  height: 100vh;
  width: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}
#page3 > p {
  font-size: 35px;
  font-weight: 700;
  width: 60%;
  line-height: 45px;
  text-align: center;
}

#page3 img {
  position: absolute;
  height: 60px;
}
#page3 #colon1 {
  left: 15%;
  top: 25%;
  
}
#page3 #colon2 {
  bottom: 30%;
  right: 15%;
}
#page4 {
  height: 30vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  position: relative;
}
.elem {
  height: 70%;
  width: 26%;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}

.elem h2 {
  height: 100%;
  width: 100%;
  background: hsla(12, 93%, 56%, 1);

  background: linear-gradient(135deg, hsla(12, 93%, 56%, 1) 15%, hsla(228, 53%, 21%, 1) 100%);
  
  background: -moz-linear-gradient(135deg, hsla(12, 93%, 56%, 1) 15%, hsla(228, 53%, 21%, 1) 100%);
  
  background: -webkit-linear-gradient(135deg, hsla(12, 93%, 56%, 1) 15%, hsla(228, 53%, 21%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F75129", endColorstr="#192452", GradientType=1 );
  display: flex;
  color: #fff;
  font-weight: 800;
  align-items: center;
  justify-content: center;
  transition: all ease 0.5s;
  font-size: 2vw;
  position: absolute;
  z-index: 10;
}
.elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all ease 0.5s;
  scale: 1.1;
}
.elem:hover h2 {
  color: #fff;
  background-color: transparent;
}
.elem:hover img {
  scale: 1;
}
#page4 h1 {
  font-size: 6.4vw;
  position: absolute;
  top: -15%;
  font-weight: 900;
  font-family: gilroy;
  color: #000;
  -webkit-text-stroke: 2px #fff;
}
#footer {
  height: 40vh;
  width: 100%;
  background: hsla(12, 93%, 56%, 1);

  background: linear-gradient(135deg, hsla(12, 93%, 56%, 1) 15%, hsla(228, 53%, 21%, 1) 100%);
  
  background: -moz-linear-gradient(135deg, hsla(12, 93%, 56%, 1) 15%, hsla(228, 53%, 21%, 1) 100%);
  
  background: -webkit-linear-gradient(135deg, hsla(12, 93%, 56%, 1) 15%, hsla(228, 53%, 21%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F75129", endColorstr="#192452", GradientType=1 );
  color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6.5vw;
  padding: 0 100px;
}
#footer > img {
  position: absolute;
  left: 0;
  height: 100%;
  z-index: 0;
}
#f1 img {
  height: 100px;
}
#f1,
#f2,
#f3,
#f4 {
  width: fit-content;
  position: relative;
  z-index: 99;
  /* background-color: red; */
}
#f2 h3 {
  font-size: 1.6vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #fff;
  font-weight: 900;
  margin-bottom: 8px;
}

#f3 h3 {
  font-size: 1.6vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #fff;
  font-weight: 800;
  margin-bottom: 8px;
}
#f4 h4 {
  font-size: 1vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 8px;
}


.fcard p {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: #666;
}

.fcard p.small {
  font-size: 14px;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background: hsla(12, 93%, 56%, 1);

  background: linear-gradient(135deg, hsla(12, 93%, 56%, 1) 15%, hsla(228, 53%, 21%, 1) 100%);
  
  background: -moz-linear-gradient(135deg, hsla(12, 93%, 56%, 1) 15%, hsla(228, 53%, 21%, 1) 100%);
  
  background: -webkit-linear-gradient(135deg, hsla(12, 93%, 56%, 1) 15%, hsla(228, 53%, 21%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F75129", endColorstr="#192452", GradientType=1 );
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.fcard1 {
  display: block;
  position: relative;
  max-width: 262px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
}

.fcard1:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: hsla(12, 93%, 56%, 1);

  background: linear-gradient(135deg, hsla(12, 93%, 56%, 1) 15%, hsla(228, 53%, 21%, 1) 100%);
  
  background: -moz-linear-gradient(135deg, hsla(12, 93%, 56%, 1) 15%, hsla(228, 53%, 21%, 1) 100%);
  
  background: -webkit-linear-gradient(135deg, hsla(12, 93%, 56%, 1) 15%, hsla(228, 53%, 21%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F75129", endColorstr="#192452", GradientType=1 );
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}

.fcard1:hover:before {
  transform: scale(21);
}

.fcard1:hover p {
  transition: all 0.3s ease-out;
  color: rgba(255, 255, 255, 0.8);
}

.fcard1:hover h3 {
  transition: all 0.3s ease-out;
  color: #fff;
}

.fcard2 {
  display: block;
  top: 0px;
  position: relative;
  max-width: 262px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #f2f8f9;
}

.fcard2:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
  border: 1px solid #ccc;
  background-color: white;
}

.fcard2:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: hsla(12, 93%, 56%, 1);

  background: linear-gradient(135deg, hsla(12, 93%, 56%, 1) 15%, hsla(228, 53%, 21%, 1) 100%);
  
  background: -moz-linear-gradient(135deg, hsla(12, 93%, 56%, 1) 15%, hsla(228, 53%, 21%, 1) 100%);
  
  background: -webkit-linear-gradient(135deg, hsla(12, 93%, 56%, 1) 15%, hsla(228, 53%, 21%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F75129", endColorstr="#192452", GradientType=1 );
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(2);
  transform-origin: 50% 50%;
  transition: transform 0.15s ease-out;
}

.fcard2:hover:before {
  transform: scale(2.15);
}

.fcard3 {
  display: block;
  top: 0px;
  position: relative;
  max-width: 262px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  overflow: hidden;
  border: 1px solid #f2f8f9;
}

.fcard3 .go-corner {
  opacity: 0.7;
}

.fcard3:hover {
  border: 1px solid #00838d;
  box-shadow: 0px 0px 999px 999px rgba(255, 255, 255, 0.5);
  z-index: 500;
}

.fcard3:hover p {
  color: #00838d;
}

.fcard3:hover .go-corner {
  transition: opactiy 0.3s linear;
  opacity: 1;
}

.fcard4 {
  display: block;
  top: 0px;
  position: relative;
  max-width: 262px;
  background-color: #fff;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  overflow: hidden;
  border: 1px solid #ccc;
}

.fcard4 .go-corner {
  background: hsla(12, 93%, 56%, 1);

  background: linear-gradient(135deg, hsla(12, 93%, 56%, 1) 15%, hsla(228, 53%, 21%, 1) 100%);
  
  background: -moz-linear-gradient(135deg, hsla(12, 93%, 56%, 1) 15%, hsla(228, 53%, 21%, 1) 100%);
  
  background: -webkit-linear-gradient(135deg, hsla(12, 93%, 56%, 1) 15%, hsla(228, 53%, 21%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F75129", endColorstr="#192452", GradientType=1 );
  height: 100%;
  width: 16px;
  padding-right: 9px;
  border-radius: 0;
  transform: skew(6deg);
  margin-right: -36px;
  align-items: start;
  background-image: linear-gradient(-45deg, #8f479a 1%, #dc2a74 100%);
}

.fcard4 .go-arrow {
  transform: skew(-6deg);
  margin-left: -2px;
  margin-top: 9px;
  opacity: 0;
}

.fcard4:hover {
  border: 1px solid #cd3d73;
}

.fcard4 h3 {
  margin-top: 8px;
}

.fcard4:hover .go-corner {
  margin-right: -12px;
}

.fcard4:hover .go-arrow {
  opacity: 1;
}